*{
    margin:0;
    font-size: var(--label-text-size);
}

:root{
    --navbar-background-color:#ffffff;
    --body-background-color:#d9dbdc;
    --label-text-size:20px;
}

/* h1,h2,h3,h4,h5,h6,p,pre{
    cursor: auto;
} */

#navbar button,#feed-container button{
    padding:3px;
    border-radius: 30px;
    border: solid white;
    color:white;
    background-color: #0079D3;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height:auto
}

body{
    /* display: flex;
    flex-direction: column; */
    width:100vw;
    height: 100vh;
    background-color: var(--body-background-color);
    overflow-x: hidden;

}

#navbar-container{    
    width: fit-content;
    height: 2%;
    position: fixed;
    z-index: 2;
}

#navbar{
    z-index: -1;
    display: flex;
    width:100vw;
    height: 100%;
    padding:14px;
    background-color: var(--navbar-background-color);
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #EDEFF1;
}

#navbar #image-logo{
    cursor: pointer;
}

#navbar-right-container,#navbar-left-container,#navbar-middle-container{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

#navbar-right-container{
    margin-right: 3%;
}

#navbar button,#navbar select,#navbar input{
    margin: 5px 5px 5px 5px ;
    border-radius: 30px;
}   

#navbar input{
    width:50vw;
    font-size: var(--label-text-size);
    text-indent: 2%;
}

#body-container{
    display: flex;
    flex-direction: row;
    /* z-index: -8; */
}

#body-container #feed-container{
    position: fixed;
    margin-top: 2%;
    top: 3%;
    width:12vw;
    height: 100vh;
    background-color: var(--navbar-background-color);
    padding:20px;
    /* z-index: -1; */
}

#feed-container .feed-selector,#feed-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#feed-container div img{
    width:42px;
    height: auto;
}

#feed-container .feed-option:hover{
    cursor: pointer;
    background-color: var(--body-background-color);
}

#feed-container #feed-register-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 90px;
    padding: 10px;
    justify-content: space-evenly;
    height: 15%;
}

#feed-container #feed-register-container p{
    text-align: center;
}

#main-content-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    position: relative;
    margin-top: 5%;
    width: 100%;
    height: 10000px;
    /* z-index: -1; */
    /* overflow-x: hidden; */
}

#main-content-container .post-selections{
    margin:10px 0px 10px 0px
}

#main-content-container #create-post-container{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    width: 420px;
    /* height:50px */
    padding:10px;
    background-color: var(--navbar-background-color);
}


#main-content-container .post-card-container{
    padding:10px;
    width: 500px;
    height: 200px;
    background-color: var(--navbar-background-color);
    display: flex;
    flex-direction: row;
}

/* #main-content-container .post-card-container #post{
    display: flex;
    width:100%;
    flex-direction: column;
} */

#main-content-container .post-card-container #post-header{
    display: flex;
    width:100%;
    height: fit-content;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#main-content-container .post-card-container #post-header #post-header-left{
    display: flex;
    justify-content: space-evenly;
    width:100%;
}

#main-content-container img{
    width:20px;
    height:auto;
}

#main-content-container #like-unlike img:hover,#main-content-container .post-selector{
    cursor: pointer;
}

#main-content-container #post{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

#main-content-container #post #post-body{
    padding:10px;
}

#main-content-container #post-footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
}

#main-content-container #post-footer img:hover,#main-content-container #post-footer div:hover{
    cursor: pointer;
    background-color: var(--body-background-color);
}

#main-content-container #post-footer div{
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#popup-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width:100vw;
    background-color: rgba(0,0,0,0.6);
}

.popup {
    background-color: white;
    width: 300px;
    max-width: 100%;
    padding:10px 30px;
    border-radius: 5px;
    text-align: center;
    color:black
}


.popup .popup-header {
    margin: 0;
    display: flex;
    justify-content: flex-end;
}