*{
    margin:0;
    font-size: var(--label-text-size);
}

:root{
    --navbar-background-color:#ffffff;
    --body-background-color:#d9dbdc;
    --label-text-size:20px;
}

button{
    padding:3px;
    border-radius: 30px;
    border: solid white;
    color:white;
    background-color: #0079D3;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height:auto
}

body{
    /* display: flex;
    flex-direction: column; */
    width:100vw;
    height: 100vh;
    background-color: var(--body-background-color);
}

#navbar-container{    
    width: 100vw;
    height: 2%;
}

#navbar{
    display: flex;
    height: 100%;
    padding:10px;
    background-color: var(--navbar-background-color);
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #EDEFF1;
}

#navbar-right-container,#navbar-left-container{
    display: flex;
    flex-direction: row;
}

#navbar button,#navbar select,#navbar input{
    margin: 5px 5px 5px 5px ;

}

#navbar input{
    width:50vw;
    font-size: var(--label-text-size);
}

#body-container #feed-container{
    position: fixed;
    top: 5%;
    width:15vw;
    height: 100vh;
    background-color: var(--navbar-background-color);
    padding:20px;
}

#feed-container div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#feed-container div img{
    width:42px;
    height: auto;
}

#feed-container .feed-option:hover{
    cursor: pointer;
    background-color: var(--body-background-color);
}

#feed-container #feed-register-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 90px;
    padding: 10px;
    justify-content: space-evenly;
    height: 15%;
}

#feed-container #feed-register-container p{
    text-align: center;
}
