<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}" >
    <script src="{{url_for('static', filename='js/home.js')}}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
    <div id="navbar-container">
        <div id="navbar">
            <div id="navbar-left-container">
                <div id="image-logo">Logo</div>
            </div>
            <div id="navbar-middle-container">
                <div id="input">
                    <input type="text" id="search-bar" placeholder="Search Reddit" class="selector">
                </div>
                <button id="search-button">Search</button>
            </div>
        
            <div id="navbar-right-container">
                <div id="login-button">
                    <button id="login-button" class="selector">
                        Login
                    </button>
                </div>
                <div id="profile-dropdown-container">
                    <button id="profile-dropdown" class="selector">
                        Profile
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="body-container">
        <div id="feed-container">
            <h4>Feeds</h4>
            <div id="feed-home" class="feed-option feed-selector">
                <img src="static\assets\light-svg.svg" alt="">
                <h2>Home</h2>
            </div>
            <div id="feed-popular" class="feed-option feed-selector">
                <img src="static\assets\light-svg.svg" alt="">
                <h2>Popular</h2>
            </div>

            <div id="feed-register-container">
                <p>Click below to join reddit.</p>
                <button id="register-button" class="feed-selector">Register</button>
            </div>
        </div>

        <div id="post-container">
            <div id="create-post-container" class="post-sections">
                <div>
                    <button>Profile</button>
                </div>
                <div>
                    <input type="text" placeholder="Create post" id="create-new-post">
                </div>
            </div>
            <div class="post-card-container post-selections" value="0:Dartsams">
                <div id="like-unlike">
                    <div><img src="static\assets\like-light.png" alt="" id="like-post" value="0"></div>
                    <div>69</div>
                    <div><img src="static\assets\dislike-light.png" alt="" id="dislike-post" value="0"></div>
                </div>
                <div id="post">
                    <div id="post-header">
                        <div id="post-header-left">
                            <div id="subreddit" value="adminTest" class="post-selector">r/adminTest</div>
                            <div id="posted-by" value="DartSams" class="post-selector">Posted by u/DartSams</div>
                            <div id="posted-time-ago">3 hours ago</div>
                        </div>
                        <div id="post-header-right">
                            <div id="join-subreddit" value="adminTest"><button class="post-selector">Join</button></div>
                        </div>
                    </div> 
                    <div id="post-body">
                        <div id="post-title"><h2>First post test.</h2></div>
                        <div id="post-text-content"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum saepe beatae totam eos reprehenderit harum modi error tempora, eveniet, ut doloribus facere ipsum rem doloremque adipisci aperiam quasi, quod fuga!</p></div>
                    </div>    
                    <div id="post-footer">
                        <div id="comments"><img src="static\assets\comment-light.png" alt=""></div>
                        <div id="share"><img src="static\assets\share-light.png" alt=""></div>
                        <div id="save"><img src="static\assets\save-light.png" alt=""></div>
                    </div>               
                </div>
            </div>
        </div>
    </div>
</body>
</html>